<!DOCTYPE html>
<html>
  <head>
    <title>Timezones</title>
    <link rel="stylesheet" href="css/style.css">
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/main.js"></script>
	<script src="js/moment.js"></script>
	<script src="js/moment-timezone-with-data.js"></script>
  </head>

  <body>
  <div class="time">
		<p id="current"></p>
	</div>
	
	<div class="dropdown">
	<select class="timezones">
		<option value="Africa/Cairo">Africa/Cairo</option>
		<option value="Africa/Casablanca">Africa/Casablanca</option>	
		<option value="America/Toronto">America/Toronto</option>
		<option value="America/Chicago">America/Chicago</option>
		<option value="America/New_York">America/New_York</option>
		<option value="America/Costa_Rica">America/Costa_Rica</option>
		<option value="America/Los_Angeles">America/Los_Angeles</option>
		<option value="Pacific/Auckland">Pacific/Auckland</option>
		<option value="Asia/Shanghai">Asia/Shanghai</option>
		<option value="Asia/Dubai">Asia/Dubai</option>
		<option value="Asia/Hong_Kong">Asia/Hong_Kong</option>
		<option value="Asia/Kabul">Asia/Kabul</option>
		<option value="Asia/Karachi" selected>Asia/Karachi</option>
		<option value="Asia/Kolkata" >Asia/Kolkata</option>
		<option value="Asia/Jerusalem" >Asia/Jerusalem</option>
		<option value="Asia/Kuala_Lumpur" >Asia/Kuala_Lumpur</option>
		<option value="Asia/Tokyo" >Asia/Tokyo</option>
		<option value="Australia/Sydney">Australia/Sydney</option>
		<option value="Europe/Istanbul">Europe/Istanbul</option>
		<option value="Europe/London" >Europe/London</option>
		<option value="Europe/Paris" >Europe/Paris</option>
		<option value="Europe/Berlin" >Europe/Berlin</option>
		<option value="Europe/Moscow" >Europe/Moscow</option>
		<option value="Europe/Madrid" >Europe/Madrid</option>
	</select>
	</div>
	
	
	<div class="clock">
	<div>
	<div class="date"></div>
	<div class="day"></div>
	</div>
	<div class="dot"></div>
	<div>
	<div class="hour-hand"></div>
	<div class="minute-hand"></div>
	<div class="second-hand"></div>
	</div>
	<div>
	<span class="h3">3</span>
	<span class="h6">6</span>
	<span class="h9">9</span>
	<span class="h12">12</span>
	</div>
	<div class="diallines"></div>
	</div>
	
	
  </body>
</html>
